---
import BaseLayout from "../layouts/BaseLayout.astro";
import DigitalBackground from "../components/DigitalBackground.astro";

const title = "Build It";
import PageHead from "../components/PageHead.astro";

---

<BaseLayout title={title}>
<PageHead h1={title}/>
<DigitalBackground>
    <p>Future vid 1</p>
    <h2>Video 1 Transcripts</h2>

    <p>Future vid 2</p>
    <h2>Video 2 Transcripts</h2>
</DigitalBackground>
    
<section id="build" class="paper_section">
    <div class="text_container">
        <h2>Build Concerns</h2>
    </div>
</section>
<section id="issues" class="paper_section">
    <div class="text_container">
        <h2>Issues and Troubleshooting</h2>
    </div>
</section>

</BaseLayout>
