---
import BaseLayout from "../layouts/BaseLayout.astro";
import DigitalBackground from "../components/DigitalBackground.astro";

import TimelineContainer from "../components/timeline/TimelineContainer.astro";
import TimelineParts from "../components/timeline/TimelineParts.astro";

const title = "Documentation";
import PageHead from "../components/PageHead.astro";

---

<BaseLayout title={title}>
    <PageHead h1={title}/>
    <DigitalBackground>
    
    </DigitalBackground>
  
<TimelineContainer>
    
    <TimelineParts date="9/1">
        <div class="img_grid">
            <!-- Content for 9/1 -->
        </div>
    </TimelineParts>

    <TimelineParts date="9/8">
        <div class="img_grid">
            <!-- Content for 9/8 -->
        </div>
    </TimelineParts>

    <TimelineParts date="9/15">
        <div class="img_grid">
            <!-- Content for 9/15 -->
        </div>
    </TimelineParts>

    <TimelineParts date="9/22">
        <div class="img_grid">
            <!-- Content for 9/22 -->
        </div>
    </TimelineParts>

    <TimelineParts date="9/29">
        <div class="img_grid">
            <!-- Content for 9/29 -->
        </div>
    </TimelineParts>

    <TimelineParts date="10/6">
        <div class="img_grid">
            <!-- Content for 10/6 -->
        </div>
    </TimelineParts>

    <TimelineParts date="10/20">
        <div class="img_grid">
            <!-- Content for 10/20 -->
        </div>
    </TimelineParts>

    <TimelineParts date="10/27">
        <div class="img_grid">
            <!-- Content for 10/27 -->
        </div>
    </TimelineParts>

    <TimelineParts date="11/2">
        <div class="img_grid">
            <!-- Content for 11/2 -->
        </div>
    </TimelineParts>

    <TimelineParts date="11/17">
        <div class="img_grid">
            <!-- Content for 11/17 -->
        </div>
    </TimelineParts>

    <TimelineParts date="12/8">
        <div class="img_grid">
            <!-- Content for 12/8 -->
        </div>
    </TimelineParts>

    <TimelineParts date="12/18">
        <div class="img_grid">
            <!-- Content for 12/18 -->
        </div>
    </TimelineParts>

    <TimelineParts date="Winter Inbetweens">
        <div class="img_grid">
            <!-- Content for Winter Inbetweens -->
        </div>
    </TimelineParts>

    <TimelineParts date="1/29">
        <div class="img_grid">
            <!-- Content for 1/29 -->
        </div>
    </TimelineParts>

    <TimelineParts date="2/5">
        <div class="img_grid">
            <!-- Content for 2/5 -->
        </div>
    </TimelineParts>

    <TimelineParts date="2/12">
        <div class="img_grid">
            <!-- Content for 2/12 -->
        </div>
    </TimelineParts>

    <TimelineParts date="2/19">
        <div class="img_grid">
            <!-- Content for 2/19 -->
        </div>
    </TimelineParts>

    <TimelineParts date="2/26">
        <div class="img_grid">
            <!-- Content for 2/26 -->
        </div>
    </TimelineParts>

    <TimelineParts date="3/5">
        <div class="img_grid">
            <!-- Content for 3/5 -->
        </div>
    </TimelineParts>

    <TimelineParts date="3/26">
        <div class="img_grid">
            <!-- Content for 3/26 -->
        </div>
    </TimelineParts>

    <TimelineParts date="Spring Break">
        <div class="img_grid">
            <!-- Content for Spring Break -->
        </div>
    </TimelineParts>

    <TimelineParts date="4/9">
        <div class="img_grid">
            <!-- Content for 4/9 -->
        </div>
    </TimelineParts>

    <TimelineParts date="4/17">
        <div class="img_grid">
            <!-- Content for 4/17 -->
        </div>
    </TimelineParts>

    <TimelineParts date="4/23">
        <div class="img_grid">
            <!-- Content for 4/23 -->
        </div>
    </TimelineParts>

    <TimelineParts date="5/1">
        <div class="img_grid">
            <!-- Content for 5/1 -->
        </div>
    </TimelineParts>

</TimelineContainer>

</BaseLayout>

<style>
    
</style>