---
import BaseLayout from "../layouts/BaseLayout.astro";
import DigitalBackground from "../components/DigitalBackground.astro";

const title = "Documentation";
import PageHead from "../components/PageHead.astro";

import { Image } from "astro:assets";

---

<BaseLayout title={title}>
    <PageHead h1={title}/>
    <DigitalBackground>
    
        <iframe width="300" height="400" src="https://docs.google.com/document/d/e/2PACX-1vSBW-XKQmvC0N_YXJayXSzY9tdKdDJl1VQuqizFO21sd2MO6JbePKGmF2EP0yYDINXeIjhVVpM8c2j4/pub?embedded=true">
        </iframe>

        <div>
            <h2>Project Version:</h2>
            <p>2.00.4</p>
        </div>

        <Image
            src="/documentation_1.png"
            alt=""
            width="1920"
            height="800"
        />
    </DigitalBackground>
    
    <h2>9/8"</h2>
        <div class="img_grid">
            <Image
                src="/timeline/9-8_1.jpg"
                alt="",
                width="300"
                height="300"
            />
        </div>

    <h2>9/15</h2>
        <div class="img_grid">
            <Image
                src="/timeline/9-15_1.jpg"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>9/22</h2>
        <div class="img_grid">
            <Image
                src="/timeline/9-22_1.JPG"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>9/29</h2>
        <div class="img_grid">
            <Image
                src="/timeline/9-29_1.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/9-29_2.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/9-29_3.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/9-29_4.JPG"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>10/6</h2>
        <div class="img_grid">
            <Image
                src="/timeline/10-6_1.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/10-6_2.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/10-6_3.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/10-6_4.JPG"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>10/20</h2>
        <div class="img_grid">
            <video controls width="300" height="auto" muted>
                <source src="/timeline/10-20_1.webm" type="video/webm"/>
            </video>
        </div>

    <h2>10/27</h2>
        <div class="img_grid">
            <Image
                src="/timeline/10-27_1.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/10-27_2.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/10-27_3.JPG"
                alt=""
                width="300"
                height="300"
            />
        </div>


    <h2>11/10</h2>>
        <div class="img_grid">
            <Image
                src="/timeline/11-10_1.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/11-10_2.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/11-10_3.JPG"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>12/8</h2>
        <div class="img_grid">
            <Image
                src="/timeline/12-8_1.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/12-8_2.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/12-8_3.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/12-8_4.jpg"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>Winter Inbetweens</h2>
        <div class="img_grid">
            <Image
                src="/timeline/winter_1.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/winter_2.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/winter_3.JPG"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/winter_4.jpg"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>3/5"</h2>
        <div class="img_grid">
            <Image
                src="/timeline/z_3-5_1.png"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/z_3-5_2.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/z_3-5_3.png"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>3/26</h2>
        <div class="img_grid">
            <Image
                src="/timeline/z_3-26_1.png"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/z_3-26_2.png"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/z_3-26_3.png"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>Spring Break</h2>
        <div class="img_grid">
            <Image
                src="/timeline/z_spring_1.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/z_spring_2.jpg"
                alt=""
                width="300"
                height="300"
            />
        </div>

    <h2>4/9"</h2>
        <div class="img_grid">
            <Image
                src="/timeline/zz_4-9_1.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/zz_4-9_2.jpg"
                alt=""
                width="300"
                height="300"
            />
            <Image
                src="/timeline/zz_4-9_3.jpg"
                alt=""
                width="300"
                height="300"
            />
        </div>


</BaseLayout>

<style>
    
</style>