---
import BaseLayout from "../layouts/BaseLayout.astro";
import DigitalBackground from "../components/DigitalBackground.astro";
import IndexHead from "../components/IndexHead.svelte";

import { Image } from "astro:assets";
import LinkBtn from "../components/linkbtn.astro";

const title = "3D Printed Letterpress & Type Pieces";
---

<BaseLayout title={title}>
<IndexHead h1="New Impressions" client:load />
<DigitalBackground bgImage="/index_digital_backdrop.webp">
    <div class="digi_grid">
        <section id="about" class="digital_section text_container">
            <div class="text_wrapper">
                <h2>About</h2>
                <p>
                    The letterpress is an object of history with an extreme importance in how our societies grew as a whole; 
                    printing found itself becoming a form of sculpting through 3D Printing. 
                    New Impressions is a project about using 3D Printing to rebuild it’s ancestor the letterpress.
                </p>
            </div>
            <LinkBtn url="/about">Learn About New Impressions</LinkBtn>
        </section>
        <section id="documentation" class="digital_section text_container">
            <div class="text_wrapper">
                <h2>Documentation</h2>
                <p>
                    To track my growth and continued learning in CAD, 3D modeling, printing, and design, I’ve formed multiple systems and methods to document my practice. 
                    Through timelines, videos, and this web page, follow me through the process of continued growth.
                </p>
            </div>
            <LinkBtn url="/documentation">Our Growth</LinkBtn>
        </section>
    </div>
</DigitalBackground>

<section id="letterpress" class="paper_section">
    <Image
    src="/index_1.jpg"
    alt=""
    width={1200}
    height={800}
    />
    <div class="text_container">
        <div class="text_wrapper">
            <h2>Letterpress</h2>
            <p>Designed and tested against Letterpress's new and old, this is New Impressions’ 3D Printed Letterpress. See the press in action, download the build files, or buy it from us, printed & ready to build.</p>
        </div>
        <LinkBtn url="/letterpress">3D Printed Letterpress</LinkBtn>
    </div>
</section>

<section id="typepieces" class="paper_section">
    <Image
    src="/index_2.jpg"
    alt=""
    width={1200}
    height={800}
    />
    <div class="text_container">
        <div class="text_wrapper">
            <h2>Typepieces</h2>
            <p> Don’t have a letterpress studio yet or the endless font selection that comes with it. See our type pieces guide & hear our concerns about it, download the build files, or buy it from us, printed & ready to go.</p>
        </div>
        <LinkBtn url="/typepieces">3D Printed Type Pieces</LinkBtn>
    </div>
</section>

</BaseLayout>

<style>

    #about, #documentation {
        grid-column:1 / 13 ;
    } 



    #letterpress, #typepieces {
        flex-direction: column;
    }

    @media (min-width: 700px ) {

        #about {
            grid-column: 3 / 9 ;
        }
        
        #documentation {
            grid-column: 5 / 11 ;
        }

        #letterpress {
            flex-direction: row;
        }

        #typepieces {
            flex-direction: row-reverse;
        }
    }

</style>