---
import DigitalBackground from "../components/DigitalBackground.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHead from "../components/PageHead.astro";
import LinkBtn from "../components/linkbtn.astro";
import { Image } from "astro:assets";

const title = "Type Pieces";
---

<BaseLayout title={title}>
  <PageHead h1={title}/>
  
  <DigitalBackground>
    <section id="imgGal" class="digital_section min-h-[400px] flex items-center justify-center">
        <p class="text-[var(--color-paper-content)] opacity-50 italic">Digital Gallery Pending</p>
    </section>
  </DigitalBackground>

  <section id="action" class="paper_section">
    <Image src="/typepieces_1.JPG" alt="Type in Action" width={1200} height={800} />
    <div class="text_container">
        <div>
            <h2>Type in Action</h2>
            <p>
                Typepieces were the first 3D prints to get attention in this project. 
                After finding out that 3D printed type pieces have been done quite a lot; this step got rerouted. 
                3D printed typepieces in this project are now more about how, what, and why. 
                But this specific set, as seen in the photo, is great and smooth, producing well-crafted prints.
            </p>
        </div>
    </div>
  </section>

  <section id="concerns" class="paper_section">
    <div class="text_container">
        <div>
            <h2>Concerns</h2>
            <p>
                How should you go about making typepieces, what in there to worry about, and why should you do this in the first place? 
                Making 3D printed typepieces has many copyright concerns, and whether they will work in the first place. 
                These concerns are valid and, in some cases, will save you from many issues, but 3D typepieces have many uses. 
                You can recover old fonts that are missing too many to be used, you can remove lead from the process, or you can make a whole new set of letterpress fonts. 
                The options are out there; you just have to find them.
            </p>
        </div>
    </div>
  </section>

  <section id="build" class="paper_section">
    <video 
        src="/typepieces_2.mov" 
        controls 
        preload="metadata"
        class=" shadow-sm"
    ></video>
    <div class="text_container">
        <div>
            <h2>Build it Yourself</h2>
            <p>
                Want to make a font into a set of letterpress typepieces? 
                Well, we have a guide for you. Download our files to the monospaced template, and let's start working. 
                Fair warning, as of right now, we do not have a non-monospaced guide as you will have to do some extra edits to follow with the video, 
                but we will make one soon!
            </p>
        </div>
        <LinkBtn url="/buildit">Find the Files and Build Guide Here</LinkBtn>
    </div>
  </section>

  <section id="shop" class="paper_section">
    <Image src="/typepieces_3.webp" alt="Shop Typepieces" width={1200} height={800} />
    <div class="text_container">
        <div>
            <h2>Buy it Pre-Built</h2>
            <p>
                Don’t have a 3D printer by want to experiment, restore, and play with new types of pieces. 
                Buy our pre-printed typeset from us for a little over the cost of printing, buying material, and shipping. 
                If you're not a huge fan of what we have, but like the concept. 
                We offer custom requests, a made press or typeface to your liking.
            </p>
        </div>
        <div class="two_links">
            <LinkBtn url="/shop">Visit our Shop</LinkBtn>
            <LinkBtn url="/q&a">Make a Request Here</LinkBtn>
        </div>
    </div>
  </section>

  <!-- <section id="inspo" class="paper_section justify-center">
    <div class="text_container !items-center max-w-2xl text-center">
        <div>
            <h2>Learn More</h2>
            <p>
                Wanna learn about other projects like our own? 
            </p>
        </div>
        <LinkBtn url="/inspiration">Find our Inspiration Here</LinkBtn>
    </div>
  </section> -->

</BaseLayout>

<style>
    #action, #concerns, #build, #shop, #inspo {
        flex-direction: column;
    }

    @media (min-width: 700px) {
        #action, #build, #shop {
            flex-direction: row;
        }

        /* Reverse Build for the visual Z-pattern */
        #build {
            flex-direction: row-reverse;
        }

        video, img {
            max-width: 50%;
            height: auto;
            max-height: 500px;
            object-fit: cover;
        }
    }
</style>