---
import DigitalBackground from "../components/DigitalBackground.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Type Pieces";
import PageHead from "../components/PageHead.astro";

---

<BaseLayout title={title}>
    <PageHead h1={title}/>
    <DigitalBackground>

    </DigitalBackground>
    <h2>Type in Action</h2>
        <p>
            Typepieces were the first 3D prints to get attention in this project. 
            After finding out that 3D printed type pieces have been done quite a lot; this step got rerouted. 
            3D printed typepieces in this project are now more about how, what, and why. 
            But this specific set, as seen in the photo, is great and smooth, producing well-crafted prints.
        </p>
        
    <h2>Concerns</h2>
        <p>How should you go about making typepieces, what in there to worry about, and why should you do this in the first place? 
            Making 3D printed typepieces has many copyright concerns, and whether they will work in the first place. 
            These concerns are valid and, in some cases, will save you from many issues, but 3D typepieces have many uses. 
            You can recover old fonts that are missing too many to be used, you can remove lead from the process, or you can make a whole new set of letterpress fonts. 
            The options are out there; you just have to find them.
        </p>

    <h2>Build it Yourself</h2>
        <p>Want to make a font into a set of letterpress typepieces? 
            Well, we have a guide for you. Download our files to the monospaced template, and let's start working. 
            Fair warning, as of right now, we do not have a non-monospaced guide as you will have to do some extra edits to follow with the video, 
            but we will make one soon!
        </p>
    <a href="/buildit">Find the Files and Build Guide Here</a>

    <h2>Buy it Pre-Built</h2>
        <p>
            Don’t have a 3D printer by want to experiment, restore, and play with new types of pieces. 
            Buy our pre-printed typeset from us for a little over the cost of printing, buying material, and shipping. 
            If you're not a huge fan of what we have, but like the concept. 
            We offer custom requests, a made press or typeface to your liking.
        </p>
	<a href="/shop">Visit our Shop</a>
    <a href="/q&a">Make a Request Here</a>

	<h2>Learn More</h2>
	<p>
		Wanna learn about other projects like our own? 
        We have a list and explanation of each of our inspirations and friends in the community. 
	</p>
    <a href="/inspiration">Find our Inspiration Here</a>
	


</BaseLayout>
