---
const { h1 = "" } = Astro.props;

import Image from "astro/components/Image.astro";

const imageMap = {
  "About": "/pageHeads/about_header.webp",
  "Build It": "/pageHeads/build_it_header.webp",
  "Documentation": "/pageHeads/documentation_header.webp",
  "Letterpress": "/pageHeads/letterpress_header.webp",
  "Q&A": "/assets/pageHeads/qa_header.webp",
  "Shop": "/pageHeads/shop_header.webp",
  "Type Pieces": "/pageHeads/typepieces_header.webp",
};

const imageSrc = imageMap[h1] ?? "/pageHeads/about_header.webp";
---

<section id="hero">
    <h1>{h1}</h1>
    <Image src={imageSrc} alt="" width="800px" height="800px"/>
</section>